<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Kraken</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-toolbar dark color="blue">
                    <v-toolbar-title class="white--text">Kraken</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon>
                        <v-icon>refresh</v-icon>
                    </v-btn>

                    <div class="text-xs-center">
                        <v-dialog v-model="dialog" width="500">
                            <template v-slot:activator="{ on }">
                                <v-btn icon dark v-on="on">
                                    <v-icon>settings</v-icon>
                                </v-btn>
                            </template>

                            <v-card>
                                <v-card-title class="headline grey lighten-2" primary-title>
                                    Configurações
                                </v-card-title>

                                <v-container align-center>
                                    <v-radio-group v-model="radios">
                                        <template v-slot:label>
                                            <div>Distribuíção de tamanho</div>
                                        </template>
                                        <v-radio value="fixed">
                                            <template v-slot:label>
                                                <div xs3 s3>Tamanho Fixo </div>

                                                <v-flex xs3 s3>
                                                    <v-text-field label="Pequeno" outline></v-text-field>
                                                </v-flex>
                                                <v-flex xs3 s3>
                                                    <v-text-field label="Médio" outline></v-text-field>
                                                </v-flex>
                                                <v-flex xs3 s3>
                                                    <v-text-field label="Grande" outline></v-text-field>
                                                </v-flex>
                                            </template>
                                        </v-radio>
                                        <v-radio value="quartis">
                                            <template v-slot:label>
                                                <div>Quartis</div>
                                            </template>
                                        </v-radio>
                                    </v-radio-group>
                                </v-container>

                                <v-divider></v-divider>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" flat @click="dialog = false">
                                        Cancelar
                                    </v-btn>
                                    <v-btn color="primary" flat @click="dialog = false">
                                        Salvar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </div>
                </v-toolbar>
                <v-container grid-list-lg>
                    <v-layout wrap>
                        <v-flex xs12 sm4>
                            <v-card>
                                <!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"> -->
                                </v-img>

                                <v-card-title primary-title>
                                    <div>
                                        <h3 class="headline mb-0">Quantidade Total</h3>
                                        <div> {{ quantity }} </div>
                                    </div>
                                </v-card-title>

                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-card>
                                <!-- <v-img src="assets/fish.jpg"> -->
                                </v-img>

                                <v-card-title primary-title>
                                    <div>
                                        <h3 class="headline mb-0">Tamanho médio</h3>
                                        <div> {{ size }} </div>
                                    </div>
                                </v-card-title>

                            </v-card>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-card>
                                <!-- <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"> -->
                                </v-img>

                                <v-card-title primary-title>
                                    <div>
                                        <h3 class="headline mb-0">Acurácia média</h3>
                                        <div> {{ accuracy }} </div>
                                    </div>
                                </v-card-title>

                            </v-card>
                        </v-flex>
                        <v-flex xs12>
                            <v-card >
                                <v-card-title primary-title>
                                    <h3 class="headline mb-0">Distribuição de peixes por tamanho</h3>
                                </v-card-title>
                                <div id="chart">
                                    <apexchart type=bar height=350 :options="chartOptions" :series="series" />
                                </div>
                            </v-card>
                            <v-speed-dial v-model="fab" :left="left" :direction="direction" :open-on-hover="hover" :transition="transition">
                                <template v-slot:activator>
                                    <v-btn v-model="fab" color="blue darken-2" dark fab>
                                        <v-icon>account_circle</v-icon>
                                        <v-icon>close</v-icon>
                                    </v-btn>
                                </template>
                                <v-btn fab dark small color="green">
                                    <v-icon>edit</v-icon>
                                </v-btn>
                                <v-btn fab dark small color="indigo">
                                    <v-icon>add</v-icon>
                                </v-btn>
                                <v-btn fab dark small color="red">
                                    <v-icon>delete</v-icon>
                                </v-btn>
                            </v-speed-dial>
                    </v-layout>
                </v-container>
            </v-content>
            <v-footer dark height="auto">
                <v-card class="flex" flat tile>
                    <v-card-actions class="grey darken-3 justify-center">
                        <v-layout align-center>
                            <v-flex xs4 text-xs-center offset-xs4>
                                &copy;2019&nbsp;—&nbsp;<strong>Daniel Gohl</strong>
                            </v-flex>
                            <v-flex xs4 text-xs-right>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn class="mx-3" dark icon v-on="on"
                                            v-on:click="open_url('https://www.github.com/danielgohl13/kraken')">
                                            <v-icon size="24px">fab fa-github</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Open on Github</span>
                                </v-tooltip>
                            </v-flex>
                        </v-layout>
                    </v-card-actions>
                </v-card>
            </v-footer>

        </v-app>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.3/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-upload-component"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <script>


        var vm = new Vue({
            el: '#app',
            components: {
                apexchart: VueApexCharts,
            },

            data: {

                direction: 'left',
                fab: false,
                hover: true,
                transition: 'scale-transition',

                quantity: 0,
                accuracy: 0,
                size: 0,
                series: [{ name: 'Quantidade' }, { name: 'Acurácia' },],
                chartOptions: {
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '60%',
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },

                    xaxis: {
                        categories: ['Pequenos', 'Médios', 'Grandes'],
                    },
                    yaxis: [
                        {
                            title: { text: 'Quantidade' },
                            decimalsInFloat: 0,
                        },
                        {
                            opposite: true,
                            title: { text: 'Acurácia (%)' },
                            decimalsInFloat: 0,
                        }
                    ],
                    fill: {
                        opacity: 1

                    },
                    tooltip: {
                        y: [{
                            formatter: function (val) {
                                return val + " peixes"
                            }
                        }, {
                            formatter: function (val) {
                                return val.toFixed(2) + "%"
                            }
                        }]
                    }
                }
            },
            methods: {

                open_url: function (url) {
                    window.open(url, "_blank");
                }

            }
        });

        var accAvg = function (fisharr) {
            var total = 0;
            for (let i = 0; i < fisharr.length; i++) {
                const f = fisharr[i];
                total += f.accuracy;
            }

            if (total == 0)
                return 0;
            else {
                return total * 100 / fisharr.length;
            }
        }

        var sizAvg = function (fisharr) {
            var total = 0;
            for (let i = 0; i < fisharr.length; i++) {
                const f = fisharr[i];
                total += f.x * f.y;
            }

            if (total == 0)
                return 0;
            else {
                return total * 100 / fisharr.length;
            }
        }

        Papa.parse("assets/report.csv", {
            download: true,
            header: true,
            dynamicTyping: true,
            complete: function (results) {
                console.log("Finished:", results.data);
                vm.quantity = results.data.length;
                maxFish = Math.max.apply(Math, results.data.map(function (o) { return o.x * o.y; }));

                fishs = results.data.filter(function (f) {
                    return f.x * f.y < maxFish / 3;
                });

                fishm = results.data.filter(function (f) {
                    var area = f.x * f.y;
                    return (area >= maxFish / 3) && (area < 2 * maxFish / 3);
                });

                fishl = results.data.filter(function (f) {
                    var area = f.x * f.y;
                    return area > 2 * maxFish / 3;
                });

                vm.accuracy = accAvg(results.data).toFixed(2) + "%";
                vm.size = sizAvg(results.data).toFixed(2) + " cm²"

                vm.series = [
                    //  Quantidade
                    {
                        data: [fishs.length, fishm.length, fishl.length]
                    },
                    // Acurácia
                    {//        P   M   G
                        data: [accAvg(fishs), accAvg(fishm), accAvg(fishl)]
                    },
                ];
            }
        });


    </script>
</body>

</html>